.app {
  background-color: var(--theme-bg-color);
  max-height: 860px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: 100%;
  border-radius: 14px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  font-size: 15px;
  font-weight: 500;
}

.error,
.loading {
  font-size: 30px;
  width: 100%;
  text-align: center;
  color: var(--theme-color);
}
.error {
  color: red;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.wrapper {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}
